body{
    background-image: url("https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/s960x960/87488533_1118896038502940_8631591363839787008_o.jpg?_nc_cat=105&_nc_sid=110474&_nc_ohc=ERhlcc5IkPgAX8KDvRn&_nc_ht=scontent.fapa1-2.fna&_nc_tp=7&oh=a6f21f0a5be9c5ecce0ec28246aef429&oe=5E963554");
}
header{
    text-align: center;
    color: white;
    font-size: 35px;
    background-image: url("https://media.giphy.com/media/6uu3ZNNgRBt61eZ1Zh/giphy.gif");

}
#gif-form{
    font-weight: bold;
    float: right;
    margin-left: 500px;
    width: 20%;
    clear: left;
    color: white;
}
.btn, #gif-form, add-gif{
    margin: 4px;
}
#gifId{
    float: left;
    clear: right;
    padding: 10px;
    margin: 10px;
    background-color: rgb(231, 124, 245);
    border: 2px black solid;
}