body{
    background-image: url("https://graphicriver.img.customer.envatousercontent.com/files/260591795/snowy%20fir%20trees%20at%20night%20_pv.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=1c178aeab073fa29e1c49e0caeb244ce");
}
header{
    text-align: center;
    color: white;
    font-size: 35px;
    background-image: url("https://media.giphy.com/media/6uu3ZNNgRBt61eZ1Zh/giphy.gif");

}
#gif-form{
    font-weight: bold;
    float: right;
    margin-left: 500px;
    width: 20%;
    clear: left;
    color: white;
}
.btn, #gif-form, add-gif{
    margin: 4px;
}
#gifId{
    float: left;
    clear: right;
    padding: 10px;
    margin: 10px;
    background-color: rgb(231, 124, 245);
    border: 2px black solid;
}